*{
	margin: 0
    padding:0 ;
    box-sizing: border-box;
	
}

@font-face{
 font-family: snake;
 src: url(../fonts/Roboto-Regular.ttf);

}

main{
	width: 70%;
	background-color: #000;
	background-image: url(../img/img.jpeg);
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 20px 5px black;
	padding: 30px;

}

body {
	background-color: #efefef;
}

.photo {
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 16 * 9) ;
	background-color: #efefef;
	margin:20px;
	background-position: center;
	background-size: cover;
	border-radius: 55px;
	box-shadow: 0 0 10px 1px #fff; 
	transition: all 0.4s ease-in-out;	

}

h1{
	font-family: snake;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 58px;
}
 
 .photo:hover{
 	transform: scale(1.07) rotate(3deg); 
 	box-shadow: 0 0 20px 2px #fff;
 }

.photo1 {
	background-image: url(../img/img1.jpg);
}
 
 
.photo2 {
	background-image: url(../img/img2.jpg);
}
 
 
.photo3 {
	background-image: url(../img/img3.jpg);
}
 
 
.photo4 {
	background-image: url(../img/img4.jpg);
}
 
 
.photo5 {
	background-image: url(../img/img5.jpg);
}
 
 
.photo6 {
	background-image: url(../img/img6.jpg);
}
 
 
.photo7 {
	background-image: url(../img/img7.jpg);
}
 
 
.photo8 {
	background-image: url(../img/img8.jpg);
}
 
 
.photo9 {
	background-image: url(../img/img9.jpg);
}
 
 
.photo10 {
	background-image: url(../img/img10.jpg);
}
 
 
.photo11 {
	background-image: url(../img/img11.jpg);
}
 
 
.photo12 {
	background-image: url(../img/img12.jpg);
}
 
 
.photo13 {
	background-image: url(../img/img13.jpg);
}
 
 
.photo14 {
	background-image: url(../img/img14.jpg);
}
 
 
.photo15 {
	background-image: url(../img/img15.jpg);
}
 
 
.photo16 {
	background-image: url(../img/img16.jpg);
}
 
 
.photo17 {
	background-image: url(../img/img17.jpg);
}
 
 
.photo18 {
	background-image: url(../img/img18.jpg);
}
 
 
.photo19 {
	background-image: url(../img/img19.jpg);
}